express
mysql2
jsonwebtoken
bcrypt
react
react-dom
react-router-dom
axios
eslint
jest
supertest
morgan
helmet
cors
dotenv
sequelize 
body-parser 
cookie-parser 
express-validator 
nodemon