# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
env/
venv/

# Conda
.env
.conda/

# IDE
.vscode/
.idea/

# Logs
*.log

# Builds
build/
dist/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env.local